# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store


!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# local secrets / probe scripts
.env
.env.local
.env.vm
deploy/.env
deploy/backups/
.tmp_*.py

# Maven
**/target/

# jqwik local store
.jqwik-database
**/.jqwik-database

# Frontend
node_modules/
web/**/dist/
web/**/coverage/
web/**/.eslintcache
web/**/*.tsbuildinfo
web/**/.vite/
web/**/playwright-report/
web/**/test-results/
web/**/blob-report/
web/**/playwright/.cache/
