<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkt.task.mapper.TaskStepTransitionMapper">

    <select id="selectByTaskId" resultType="com.mkt.task.entity.TaskStepTransitionEntity">
        SELECT id, task_id, from_step_id, to_step_id, condition_expr, priority
        FROM task_step_transition
        WHERE task_id = #{taskId}
        ORDER BY priority ASC, id ASC
    </select>

    <delete id="deleteByTaskId">
        DELETE FROM task_step_transition WHERE task_id = #{taskId}
    </delete>
</mapper>
